<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../assets/style/blog.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <center><h1>Latest Post</h1></center>
    <% data.forEach((item)=>{ %>
        <div class="blog-div">
            <div class="title-div">
                <div style="display: flex;align-items: center;">
                    <p class="title"><%= item.title  %></p>
                    <% if(request.session.user){ %>
                        if(item.user[0] == request.session.user['_id']){ %>
                    
                    <div class="action">
                        <a href="/post/delete/<%= item.id %>" class="delete"><i class="fa fa-trash"></i></a>
                        <a href="/post/edit/<%= item.id %>" class="edit"><i class="fa fa-edit"></i></a>
                    </div>
                    
                <% }} %>
                </div>
                <p class="date"> <i class="fa fa-calendar"></i> <%= new Date(item.date_uploaded).getDate()+'/'+(new Date(item.date_uploaded).getMonth()+1)+'/'+ new Date(item.date_uploaded).getFullYear() %></p>
            </div>
            <hr>
            <div class="desc-div">
                <p><%= item.desc  %></p>
                <div class="auther"><i class="fa fa-user"> <%= item.user[1] %></i></div>
            </div>
        </div>
    <% }) %>
</body>
</html>